@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
}


/* header */

.header--hidden {
    transform: translateY(-100%);
}

.header--compact {
    transform: translateY(-36px); 
}

.header {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    background-color: white;
}

.header-top {
    height: 36px;
    width: 100%;
    padding: 0px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
}

.top-nav-items ul  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav-items ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}

.top-nav-items ul li a {
    font-family: Helvetica;
    text-decoration: none;
    color: black;
}

.top-nav-items ul li a:hover {
    text-decoration: underline;
    color: rgb(106, 105, 105);
}

.vertical-line {
    border-left: 1px solid black;
    height: 12px;
    margin: 0px 15px;
}

.header-main-section {
    height: 60px;
    width: 100%;
    padding: 0px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgb(200, 200, 200);
    position: relative;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.header-main-logo {
    display: inline-block;
    height: 59px;
    width: 59px;
    margin: 1px 0;
    z-index: 1000;
}

.header-main-logo svg {
    transform: scale(1.33);
    height: 100%;
    width: 100%;
}

.header-main-nav {
    margin-left: 230px;
}

.header-main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.header-main-nav ul li {
    display: inline-block;
}

.header-main-nav ul li a {
    text-decoration: none;
    font-family: 'Geist';
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.header-main-nav > ul > li > a {
    text-underline-offset: 4px;
}

.header-main-nav ul li a:hover,
.dropdown:hover > a {
    text-decoration: underline;
}

.header-main-items {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    border-radius: 50px;
    padding: 7px 10px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    max-width: 180px;
}

.search-bar:hover {
    background-color: #e2e4e8;
}

.search-bar .search-icon {
    font-size: 20px;
    color: #333333;
    margin-right: 8px;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    width: 100%;
}

.search-bar input::placeholder {
    color: #999;
}

.heart-icon, .bag-icon {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 1000;
    padding: 6px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.heart-icon:hover, .bag-icon:hover {
    background-color: #e2e4e8;
}

/* dropdown */

.dropdown {
    position: relative;
    z-index: 999;
}

.dropdown > a {
    position: relative;
    z-index: 9999;
    display: block;
    padding: 20px 0;
}

.dropdown-content {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1001;
    padding: 40px 48px;
    top: 96px;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out, top 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    border: none;
    outline: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.dropdown-container {
    position: relative;
    z-index: 1002;
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border: none;
    outline: none;
}

.dropdown-column {
    min-width: 200px;
    position: relative;
    z-index: 1002;
    display: flex;
    flex-direction: column;
}

.dropdown-column h4,
.dropdown-column ul,
.dropdown-column li,
.dropdown-column a {
    position: relative;
    z-index: 1002;
}

.dropdown-column h4 {
    font-family: 'Geist';
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #111;
}

.dropdown-column ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;  
    margin: 0; 
}

.dropdown-column ul li {
    margin: 0; 
    line-height: 1; 
}

.dropdown-column ul li a {
    color: #707072;
    font-size: 13px;
    font-family: 'Geist';
    text-decoration: none;
    font-weight: 600;
    display: block;
    line-height: 1.2;
    padding: 2px 0; 
}

.dropdown-column ul li a:hover {
    color: #111;
}

.dropdown:hover::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 96px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    pointer-events: none;
}

.dropdown:last-child:hover::after {
    background: none;
}

.header-scrolled .dropdown-content {
    top: 96px;
}

.header-scrolled .dropdown:hover::after {
    top: 96px;
    height: calc(100vh - 0px);
}

@media screen and (max-width: 1200px) {
    .search-bar {
        padding: 7px;
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        max-width: unset;
        background-color: transparent;
        box-shadow: none;
    }
    
    .search-bar:hover {
        background-color: #f3f4f6;
    }
    
    .search-bar .search-icon {
        margin-right: 0;
    }
    
    .search-bar input {
        display: none;
    }

    .dropdown-container {
        gap: 10px;
    }

    .dropdown-column {
        min-width: 140px;
    }

    .dropdown-column h4{
        font-size: 14px;
    }

    .dropdown-column ul li a {
        font-size: 13px;
    }
}

/* ------ main ----- */

.main-container {
    margin-top: 120px;
}

/* hero section 1 */

.hero-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 48px;
    text-align: center;
}

.hero-section1-image {
    width: 100%;
    box-sizing: border-box; 
}

.hero-section1-image img {
    width: 100%;
    height: 517px;
    object-fit: cover;
    border-radius: 1rem;
}

.hero-section1-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
}

.hero-section1-desc h1 {
    font-family: helvetica;
    font-size: 55px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    margin-top: 40px;
}

.hero-section1-desc p {
    font-size: 16px;
    margin: 10px 0 20px;
    color: #000;
}

.hero1-button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}

.hero1-button:hover {
    background-color: #444444;
    transform: translateY(-2px);
}


/* section 1 */

.section1 {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 48px;
}

.section1-heading h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;
}

.section1-container {
    display: flex;
    justify-content: space-between;
}

.s1-image-card {
    position: relative;
    width: 465px;
    height: 570px;
    overflow: hidden;
}

.s1-image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.s1-overlay {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

.s1-overlay p {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
}

.s1-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.s1-button:hover {
    background-color: #ddd;
    transform: translateY(-2px);
}

/* section 2 */

.section2 {
    margin-top: 120px;
    padding: 0px 48px;
}

.section2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section2-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.s2-nav-buttons {
    display: flex;
    gap: 10px;
}

.s2-nav-buttons i {
    font-size: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-color: #cdcdcd;
    transition: background-color 0.3s, transform 0.3s;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#rightArrows2 { 
    background-color: #000; 
    color: #fff; 
}

.image-scroll-containers2 {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    scroll-behavior: smooth;
}

.s2-image-item {
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: #000;
}

.s2-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.image-scroll-containers2::-webkit-scrollbar {
    display: none;
}

.image-scroll-containers2 {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
/* hero section 2 */

.hero-section2 {
    margin-top: 120px;
    padding: 0px 48px;
}

.hero-section2-head h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;
}

.hero-section2-image {
    width: 100%;
    box-sizing: border-box; 
}

.hero-section2-image img {
    width: 100%;
    height: 715px;
    object-fit: cover;
    border-radius: 1rem;
}

.hero-section2-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
}

.hero-section2-desc span {
    margin-top: 40px;
    font-size: 20px;
}

.hero-section2-desc h1 {
    font-family: helvetica;
    font-size: 55px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.hero-section2-desc p {
    font-size: 16px;
    margin: 10px 0 20px;
    color: #000;
}

.hero2-button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}

.hero2-button:hover {
    background-color: #444444;
    transform: translateY(-2px);
}

/* section 3 */

.section3 {
    margin-top: 120px;
    padding: 0px 48px;
}

.section3-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section3-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.s3-nav-buttons {
    display: flex;
    gap: 10px;
}

.s3-nav-buttons i {
    font-size: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-color: #cdcdcd;
    transition: background-color 0.3s, transform 0.3s;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#rightArrows3 { 
    background-color: #000; 
    color: #fff; 
}

.image-scroll-containers3 {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    scroll-behavior: smooth;
}

.s3-image-item {
    flex: 0 0 auto;
    width: 455px;
    height: 310px;
    overflow: hidden;
    border: #000;
    position: relative;
}

.s3-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.s3-overlay {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

.s3-button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.s3-button:hover {
    background-color: #ddd;
    transform: translateY(-2px);
}

.image-scroll-containers3::-webkit-scrollbar {
    display: none;
}

.image-scroll-containers3 {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* section 4 */

.section4 {
    margin-top: 120px;
    padding: 0px 48px;
}

.section4-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section4-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.s4-nav-buttons {
    display: flex;
    gap: 10px;
}

.s4-nav-buttons i {
    font-size: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-color: #cdcdcd;
    transition: background-color 0.3s, transform 0.3s;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#rightArrows4 { 
    background-color: #000; 
    color: #fff; 
}

.image-scroll-containers4 {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    scroll-behavior: smooth;
}

.s4-image-item {
    flex: 0 0 auto;
    width: 455px;
    height: 569px;
    overflow: hidden;
    border: #000;
    position: relative;
}

.s4-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.s4-overlay {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

.s4-overlay span {
    font-weight: 500;
}

.s4-overlay p {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
}

.s4-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.s4-button:hover {
    background-color: #ddd;
    transform: translateY(-2px);
}

.image-scroll-containers4::-webkit-scrollbar {
    display: none;
}

.image-scroll-containers4 {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* section 5 */

.section5 {
    margin-top: 70px;
    padding: 0px 48px;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.seection5-column h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 22px;
}

.seection5-column ul {
    list-style: none;
    padding: 0;
}

.seection5-column li {
    margin-bottom: 15px;
    font-size: 17px;
}

.seection5-column a {
    text-decoration: none;
    color: #5f5f5f;
}

.seection5-column a:hover {
    color: #000;
}

/* footer */

.footer-divider {
    margin: 80px 48px;
    border: none;
    border-top: 1px solid rgb(201, 201, 201);
}

@media screen and (max-width: 960px) {

    .section5 {
        padding: 0px 24px;
        gap: 50px;
    }

    .footer-divider {
        margin: 80px 24px;
    }
}
@media screen and (max-width: 670px) {
    .section5 {
        flex-direction: column;
        gap: 20px;
    }
    
    .seection5-column {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .seection5-column h3 {
        margin-bottom: 0;
        cursor: pointer;
    }
    
    .seection5-column ul {
        display: none;
    }
}

/* Mobile menu styles */
.menu-icon {
    display: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 1000;
    padding: 6px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.menu-icon:hover {
    background-color: #e2e4e8;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2000;
    padding: 20px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

.mobile-menu.active {
    display: flex;
    transform: translateX(0);
}

.mobile-menu-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.close-menu {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.mobile-menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.mobile-menu-items a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Geist';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.mobile-menu-items a i {
    font-size: 28px;
}

.mobile-menu-jordan {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
}

.mobile-menu-jordan svg {
    transform: scale(1.5);
    margin-right: 10px;
}

.mobile-menu-jordan span {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Geist';
}

.mobile-menu-member {
    margin-top: 60px;
    padding: 0px 10px;
}

.mobile-menu-member p {
    font-size: 18px;
    font-weight: 500;
    color: #5f5f5f;
    font-family: 'Geist';
}

.mobile-menu-member p a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.mobile-menu-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.join-btn {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.signin-btn {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px;
}

.mobile-menu-footer {
    padding: 100px 0px 120px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile-menu-footer a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Geist';
}

.mobile-menu-footer a i {
    font-size: 24px;
    margin-right: 10px;
}


@media screen and (max-width: 960px) {
    .header {
        background-color: white;
    }
    
    .header-top {
        display: none;
    }
    
    .header-main-nav {
        display: none;
    }
    
    .menu-icon {
        display: block;
    }
    
    .header-main-section {
        padding: 0 20px;
        height: 60px;
        position: relative;
    }
    
    .header-main-logo {
        height: 50px;
        width: 50px;
    }

    /* Ensure the header isn't pushed too far up when in compact mode */
    .header--compact {
        transform: translateY(0);
    }

    /* Fix for mobile menu */
    .mobile-menu { 
        width: 320px;
        height: 100vh;
    }
    
    /* Fix for main container in mobile view */
    .main-container {
        margin-top: 60px;
    }
}

/* Mobile menu overlay */
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1999; /* Just below the mobile menu */
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mobile-menu-overlay.active {
    display: block;
    opacity: 1;
}
